<div class=" col-md-offset-1 col-md-4">
  <h2>List of users</h2>
  <table class="table table-responsive table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList">
        <td>{{user.user | uppercase}}</td>
        <td>{{user.role }}</td>
        <td><button [routerLink]="['/user',user.user]" class="btn btn-primary">Edit</button></td>
        <td><button (click)="deleteUser(user.user)" class="btn btn-primary">Delete</button></td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary" (click)="addNew()">Add New</button>
</div>
