<form [formGroup]="userForm" (submit)="submit()" class="col-md-offset-2 col-md-8" novalidate>
  <h2>User details</h2>
  <div class="form-group">
    <div class="user-line user-label"><label>Name</label></div>
    <div class="user-line user-text"><input type="text" minlength="4" maxlength="20" formControlName="name" required class="form-control" [(ngModel)]="user.name"
        placeholder="Name"></div>
  </div>
  <div class="form-group">
    <div class="user-line user-label"><label>Password</label></div>
    <div class="user-line user-text"><input type="password" formControlName="password" required class="form-control" placeholder="Password" [(ngModel)]="user.password"></div>
  </div>
  <div class="form-group">
    <div class="user-line user-label"><label>repeat Password</label></div>
    <div class="user-line user-text"><input type="text" formControlName="password" required class="form-control" placeholder="Repeat Password" [(ngModel)]="user.repeatPassword"></div>
  </div>
  <!-- NEED A DROP DOWN FOR ROLE -->
  <div class="form-group">
    <div class="user-line user-label"><label>Role</label></div>
    <div class="user-line user-text"><select formControlName="role" required class="form-control" placeholder="Role" [(ngModel)]="user.role">
    <option *ngFor="let role of roles" [ngValue]="role">{{role}}</option>
    </select>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary">Save</button>
    <button class="btn btn-primary" (click)="cancel()">Cancel</button>
  </div>
</form>


<select class="form-control" [formControl]="newPersonRoleForm.controls['role']" [(ngModel)]="newPersonRole.RoleId">
                   
            </select>
